<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Acadewm</title>
</head>
<body>
	<h1>Welcome to Academi Gymraeg - Secure</h1>
	<div>
		<form th:action="@{/saveNoun}" th:object="${noun}" method="post">
			<label>Welsh Noun <input type="text" th:value="${noun.cyNoun}"
				th:field="*{cyNoun}">
			</label> <br /> <label>English Noun <input type="text"
				th:value="${noun.enNoun}" th:field="*{enNoun}">
			</label><br /> <label th:for="masc"> Masculine</label> <input type="radio"
				name="cyGender" value="masculine" th:id="masc" th:checked="${noun.cyGender == 'masculine'}"> <br /><label
				th:for="fem"> Feminine</label> <input type="radio"
				name="cyGender" value="feminine" th:id="fem" th:checked="${noun.cyGender == 'feminine'}"> <br />
			<button type="submit">Save</button>
		</form>
	</div>
</body>
</html>