<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome!</title>
<!--<link th:href = "@{bootstrap.min.css}" rel = "stylesheet"> -->
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to Academi Gymraeg!</h1>
        <p>The number one site to learn welsh nouns!</p> 
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Click here to login!</h2>
                <a href="/login">
                    <h1><span class="glyphicon glyphicon-user col-md-4 text-center"></span></h1>
                    <p>And to continue your welsh noun learning journey.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/registration">
                <h2>Click here to signup!</h2>
                    <h1><span class="glyphicon glyphicon-edit col-md-4 text-center"></span></h1>
                    <p>And to begin your welsh learning journey.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/cat">
                <h2>Click here to see a cat!</h2>
                    <h1><span class="glyphicon glyphicon-education col-md-4 text-center"></span></h1>
                    <p>Come back daily for new cats.</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>