<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome!</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-brand">Academi Gymraeg</div>
            <button class = "navbar-toggle" data-toggle = "collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/welcome">Welcome</a>
                        <!--not sure if this is the correct way of doing links inside the app-->
                    </li>
                    <li>
                        <a href="/registration">Register</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Nouns<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/nouns">View Nouns</a>
                            <li>
                                <a href="/createNoun">Add Noun</a>
                            </li>
                            <li>
                                <a href="/editNoun">Edit Noun</a>
                            </li>
                            <li>
                                <a href="/deleteNoun">Delete Noun</a>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/users">View Users</a>
                            </li>
                            <li>
                                <a href="/saveUser">Create User</a>
                            <li>
                                <a href="/editUser">Edit User</a>
                            </li>
                            <li>
                                <a href="/deleteUser">Delete User</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Welcome to Academi Gymraeg!</h1>
        <p>The number one site to learn welsh nouns!</p> 
    </div>
    
    <th:block th:if="${question != null and !question.empty}">FUckkk </th:block>
    <div th:each="q : ${question}">
    	<p th:text="${q.question}"></p>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Click here to login!</h2>
                <a href="/login">
                    <h1><span class="glyphicon glyphicon-user col-md-4 text-center"></span></h1>
                    <p>And to continue your welsh noun learning journey.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/registration">
                <h2>Click here to signup!</h2>
                    <h1><span class="glyphicon glyphicon-edit col-md-4 text-center"></span></h1>
                    <p>And to begin your welsh learning journey.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://thesecatsdonotexist.com/">
                <h2>Click here to see a cat!</h2>
                    <h1><span class="glyphicon glyphicon-education col-md-4 text-center"></span></h1>
                    <p>Come back daily for new cats.</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>